/*
QUYNH NGA NGUYEN - ID: 700110099
Project FSE Chatroom - 18-652
Style sheet for all of the pages.
*/

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.buttonContainer, .messageDisplay {
	background-color: #E3E3E3;
}

.buttonContainer {
	text-align: center;
	margin: 0px;
}

.buttonContainer button {
	background-color: #2AA0F1;
	color: White;
	padding: 13px 35px 13px 35px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#chatLog {
	overflow-y: scroll;
	height: 100%;
}

#errorArea {
	margin-bottom: 40px;
	text-align: center;
}

.footer {
	width: 100%;
}

h1, h2 {
	text-align: center;
}

.messageDisplay, #messageInputArea {
	margin-left: 25px;
	margin-right: 25px;
}

.messageDisplay {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 10px;
}

#messageInputArea {
	margin-top: 10px;
	margin-bottom: 10px;
}

#messageInputBox, #nameInputBox {
	border: none;
	background-color: #C6E7F8;
	padding-left: 10px;
	padding-right: 10px;
}

#messageInputBox {
	width: 100%;
    box-sizing: border-box;
}

#nameInputArea {
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

#nameInputBox {
	height: 30px;
}

.name {
	font-size: 16pt;
	font-weight: bold;
}

.time {
	float: right;
}

#welcome {
	margin-bottom: 150px;
}

.wrapper {
	padding: 0px 0px 200px 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}