/*
QUYNH NGA NGUYEN - ID: 700110099
Project FSE Chatroom - 18-652
Style sheet for all of the pages.
*/

body {
	height: 100%;
	padding: 0;
	margin: 0;
}

.buttonContainer, .messageDisplay {
	background-color: #E3E3E3;
}

.buttonContainer {
	text-align: center;
	margin: 0px;
}

.buttonContainer button {
	background-color: #2AA0F1;
	color: White;
	padding: 13px 35px 13px 35px;
	margin-top: 3px;
	margin-bottom: 3px;
}

#chatLog {
	overflow: scroll;
	height: 100%;
}

.footer {
	width: 100%;
	height: 200px;
	margin-bottom: -200px;
}

h1, h2 {
	text-align: center;
}

#indexPage, #messageInputBox {
	background-color: #C6E7F8;
}

.messageDisplay {
	margin: 5px 25px 0px 25px;
	padding: 10px;
}

.messageInputArea {
	margin-left: 25px;
	margin-right: 25px;
}

#messageInputBox {
	border: none;
	width: 100%;
	-webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 15px;
}

.name {
	font-size: 16pt;
	font-weight: bold;
}

.time {
	float: right;
}

#wrapper {
	padding: 0px 0px 200px 0px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}